ul li {
    list-style: none;
  }

  $white: white;
  $red: red;
  $purple: #3D4EAE;

.mat-icon-button {
  color: $white;
}

.mat-icon-button:hover {
  color: $white !important; 
  background: $purple;
}